@charset "utf-8";

/**
 * 首页CSS样式表
 * Created by PhpStorm.
 * User: Shadow
 * Date: 2016-05-18 0018
 * Time: 18:18
 * Http: www.hongyuvip.com
 */

.focus{
    width: 100%;
    height: 466px;
}

.focusLeft{
    width: 210px;
    height: 100%;
}

.focusAd{
    width: 730px;
    height: 100%;
}

.focusRight{
    width: 270px;
    height: 100%;
}

/* 轮播图 star */

.slider {
    width: 710px;
    height: 456px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    left: 0;
    top: 10px;
}

.slider img {
    float: left;
}

.box {
    width: 5110px
}

.btn {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 40%;
    display: none;
}

.slider .btn-l, .slider .btn-r {
    background-color: rgba(0, 0, 0, .2);
    width: 28px;
    height: 62px;
    color: #FFFFFF;
    text-align: center;
    font: 400 22px/62px simsun;
    cursor: pointer;
}

.list-li {
    position: absolute;
    bottom: 10px;
    left: 35%
}

.list-li li {
    cursor: pointer;
    float: left;
    width: 18px;
    height: 18px;
    background-color: #B1191A;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    margin-left: 10px;
    color: #fff;
    font-size: 12px;
}

/* 点缀 */
.dianzui {
    width: 100%;
    height: 4px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
}

.dian {
    width: 1px;
    height: 4px;
    background-color: red
}

/* 遮罩层 */
.fugai {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 730px;
}

.fugai1, .fugai2, .fugai3 {
    width: 243px;
    height: 730px;
    float: left;
    z-index: 999;
    overflow: hidden;
}

.btn-con-l, .btn-con-r {
    width: 150px;
    height: 100px;
}

.btn-con-l img, .btn-con-r img {
    width: 100%;
    height: 100%
}

/* 轮播图 end */

.news{
    width: 258px;
    height: 162px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #E4E4E4;
}

.lifeServ{
    width: 258px;
    height: 210px;
    margin-left: 10px;
    border-left: 1px solid #E4E4E4;;
    border-right: 1px solid #E4E4E4;;
    border-bottom: 1px solid #E4E4E4;;
}

.right-pic{
    width: 260px;
    height: 70px;
    margin-left: 10px;
    margin-top: 10px;
}

.todaysBar{
    width: 100%;
    height: 164px;
    margin-top: 10px;

}

.todaysLeft{
    width: 210px;
    height: 100%;
}

.todaysRight{
    width: 1000px;
    height: 100%;
}

.guessYouBar{
    width: 100%;
    height: 269px;
    margin-top: 20px;
}

.guessYouTitle{
    width: 100%;
    height: 36px;
}

.guessYouTitle h2{
    font: 400 20px/30px "microsoft yahei";
    padding-right: 228px;
    background: url(//misc.360buyimg.com/product/home/1.0.0/css/i/homebg.png) 85px -91px;
}

.guessYouTitle a{
    padding-right: 25px;
    height: 18px;
    margin-top: 8px;
    background: url(//misc.360buyimg.com/product/home/1.0.0/css/i/homebg.png) -310px -5px no-repeat;
    color: #666;
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
}

.guessYouTitle a:hover{
    color: #C81818;
    background-position:-310px -29px;
}

