@charset "utf-8";

/**
 * 鸿宇通用CSS样式表
 * Created by PhpStorm.
 * User: Shadow
 * Date: 2016-05-18 0018
 * Time: 18:18
 * Http: www.hongyuvip.com
 */

/*所有边距为零*/
*{margin: 0; padding: 0;}

/*设置body字体大小*/
body{font:12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;min-width: 1210px;}

/*去掉ul前面的点*/
ul,li,dl{list-style: none;}

/*去掉下划线*/
a{color: #666;text-decoration: none;}
a:hover{color: #C81818;}

/*去掉图片边框*/
img{border:none;}

/*清除虚框*/
:focus{outline: none}
input,select,textarea{outline: none;border:none;background: none;}
textarea{resize: none;}

/*清除浮动*/
.clearfix:after{content: "";display: block;clear: both;}
.clearfix{zoom: 1;}

/*浮动*/
.fl{float: left;}
.fr{float: right;}

/*相对定位*/
.pos-r{position: relative}

/*绝对定位*/
.pos-a{position: absolute}

/*隐藏 hide or 显示 show*/
.hide{display: none}
.show{display: block}

/*全局公用*/
.w{width: 1210px;margin: 0 auto;height: 100%}
.max{width: 100%;height: 100%;}

/*色调*/
.clr-red{background-color: red;}
.clr-blue{background-color: blue;}
.clr-y{background-color: #fd6500;}
.clr-g{background-color: green;}
